[Desktop Entry]
Type=Application
Name=EKN Multiplexer Permissions
Comment=Sets the default flatpak permissions for the EKN Multiplexer
# FIXME: Workaround for the lack of system-level defaults for flatpak permissions
# See https://github.com/flatpak/xdg-desktop-portal/issues/471
# and https://phabricator.endlessm.com/T29677
Exec=/usr/bin/sh -c "export FLATPAK_FANCY_OUTPUT=0; if ! flatpak permission-list background background | grep -q '[[:space:]]com.endlessm.EknServicesMultiplexer[[:space:]]'; then flatpak permission-set background background com.endlessm.EknServicesMultiplexer yes || true; fi"
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
