[Desktop Entry]
Version=1.0
Name=Disque Denuncia
Comment=
Type=Application
Exec=epiphany-browser http://www.disquedenuncia.org.br
Icon=disque-denuncia
