[Desktop Entry]
Version=1.0
Name=Emprego Certo
Comment=
Type=Application
Exec=epiphany-browser http://empregocerto.uol.com.br/info/cadastre-se.html?psid=1
Icon=emprego-certo
