[Desktop Entry]
Version=1.0
Name=Gazeta Esportiva
Comment=
Type=Application
Exec=epiphany-browser http://www.gazetaesportiva.net
Icon=gazeta-esportiva
