[Desktop Entry]
Version=1.0
Name=Museu do Futebol
Comment=
Type=Application
Exec=epiphany-browser http://www.museudofutebol.org.br
Icon=museu-do-futebol
