[Desktop Entry]
Version=1.0
Name=Poupa Tempo Rio
Comment=
Type=Application
Exec=epiphany-browser http://www.rj.gov.br/web/poupatemporj
Icon=poupa-tempo
