[Desktop Entry]
Version=1.0
Name=Rio Show
Comment=
Type=Application
Exec=epiphany-browser http://rioshow.oglobo.globo.com/aspx/geral/home_principal.aspx?gclid=CK-2r7-inLMCFRRbnAodgBwA9w
Icon=rioshow
