[Desktop Entry]
Version=1.0
Name=Site da Baixada
Comment=
Type=Application
Exec=epiphany-browser http://noticias.sitedabaixada.com.br
Icon=site-da-baixada
