[Desktop Entry]
Version=1.0
Name=Viva Favela (Viva Rio)
Comment=
Type=Application
Exec=epiphany-browser http://vivario.org.br/viva-favela/
Icon=vivafavela
