Source: eos-theme
Section: gnome
Priority: optional
Maintainer: EndlessMobile <asynchrony@endlessm.com>
Uploaders: Srdjan Grubor <sgnn7@sgnn7.org>
Build-Depends: debhelper (>= 8),
               cdbs (>= 0.4.41),
               dh-autoreconf,
               gnome-pkg-tools (>= 0.10),
               gtk-update-icon-cache,
               intltool (>= 0.40.0),
               libgtk-3-dev (>= 3.3.14),
               libgtk-3-bin,
               libgtk2.0-dev(>= 2.24.15),
               libcairo2-dev,
               libgdk-pixbuf2.0-dev,
               libglib2.0-dev,
               librsvg2-dev
Standards-Version: 3.9.3
Homepage: http://www.endlessm.com

Package: eos-theme
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         eos-shell
Recommends: eos-shell,
            gtk2-engines
Description: Custom theme for eos-shell
 Custom theme along with icons and images
